<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <customErrors mode="On" defaultRedirect="index.html">
            <error statusCode="404" redirect="index.html" />
        </customErrors>
    </system.web>
    <system.webServer>
        <httpErrors errorMode="Custom">
            <remove statusCode="404" />
            <remove statusCode="500" />
            <error statusCode="500" path="/index.html" responseMode="ExecuteURL" />
            <error statusCode="404" path="/index.html" responseMode="ExecuteURL" />
        </httpErrors>
        <rewrite>
            <rules>
                <rule name="api">
                    <match url="^(.*?)/?api/(.*)$" />
                    <action type="Rewrite" url="http://127.0.0.1:8082/{R:2}" />
                </rule>
            </rules>
        </rewrite>
	<security>
		<requestFiltering>
			<requestLimits maxAllowedContentLength="2000000000"  />
		</requestFiltering>
	</security>
	<aspNetCore requestTimeout="00:50:00"  processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
    </system.webServer>
</configuration>